@page "/Dropdowns"

@code {
    // Dropdowns
}
<div>
    <Button Type="@ButtonType.Text">Breadcrumb 面包屑</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns1></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns2></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns3></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns4></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns5></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns6></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns7></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns8></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns8>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns9></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns9>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns10></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns10>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns11></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns11>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns12></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns12>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns13></Ant_Design_Blazor_Admin.Client.Pages.Navi.Dropdowns_.Dropdowns13>
</div>
