@page "/Dropdowns"

@code {
    // Dropdowns
}
<div>
    <Button Type="@ButtonType.Text">Breadcrumb 面包屑</Button>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns1></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns1>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns2></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns2>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns3></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns3>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns4></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns4>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns5></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns5>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns6></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns6>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns7></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns7>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns8></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns8>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns9></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns9>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns10></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns10>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns11></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns11>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns12></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns12>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Dropdowns_.Dropdowns13></ant_blazor.Pages.Navi.Dropdowns_.Dropdowns13>
</div>
