@page "/Menus"

@code {
    // Menus
}
<div>
    <Button Type="@ButtonType.Text">Menu 导航菜单</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus1></Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus2></Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus3></Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus4></Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus5></Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus6></Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus7></Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus8></Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus8>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus9></Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus9>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus10></Ant_Design_Blazor_Admin.Client.Pages.Navi.Menus_.Menus10>
</div>