@page "/Menus"

@code {
    // Menus
}
<div>
    <Button Type="@ButtonType.Text">Menu 导航菜单</Button>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Menus_.Menus1></ant_blazor.Pages.Navi.Menus_.Menus1>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Menus_.Menus2></ant_blazor.Pages.Navi.Menus_.Menus2>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Menus_.Menus3></ant_blazor.Pages.Navi.Menus_.Menus3>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Menus_.Menus4></ant_blazor.Pages.Navi.Menus_.Menus4>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Menus_.Menus5></ant_blazor.Pages.Navi.Menus_.Menus5>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Menus_.Menus6></ant_blazor.Pages.Navi.Menus_.Menus6>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Menus_.Menus7></ant_blazor.Pages.Navi.Menus_.Menus7>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Menus_.Menus8></ant_blazor.Pages.Navi.Menus_.Menus8>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Menus_.Menus9></ant_blazor.Pages.Navi.Menus_.Menus9>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Navi.Menus_.Menus10></ant_blazor.Pages.Navi.Menus_.Menus10>
</div>