@page "/Layouts"
@code {
    // Layouts
}
<div>
    <Button Type="@ButtonType.Text">Layout 布局</Button>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Layout.Layouts_.Layouts1></ant_blazor.Pages.Layout.Layouts_.Layouts1>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Layout.Layouts_.Layouts2></ant_blazor.Pages.Layout.Layouts_.Layouts2>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Layout.Layouts_.Layouts3></ant_blazor.Pages.Layout.Layouts_.Layouts3>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Layout.Layouts_.Layouts4></ant_blazor.Pages.Layout.Layouts_.Layouts4>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Layout.Layouts_.Layouts5></ant_blazor.Pages.Layout.Layouts_.Layouts5>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Layout.Layouts_.Layouts6></ant_blazor.Pages.Layout.Layouts_.Layouts6>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Layout.Layouts_.Layouts7></ant_blazor.Pages.Layout.Layouts_.Layouts7>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Layout.Layouts_.Layouts8></ant_blazor.Pages.Layout.Layouts_.Layouts8>
</div>
<Divider />
<div>
    <ant_blazor.Pages.Layout.Layouts_.Layouts9></ant_blazor.Pages.Layout.Layouts_.Layouts9>
</div>