@page "/Layouts"
@code {
    // Layouts
}
<div>
    <Button Type="@ButtonType.Text">Layout 布局</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts1></Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts2></Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts3></Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts4></Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts5></Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts6></Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts7></Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts8></Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts8>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts9></Ant_Design_Blazor_Admin.Client.Pages.Layout.Layouts_.Layouts9>
</div>