@page "/AutoCompletes"

@code {
        // AutoCompletes
}
<div>
    <Button Type="@ButtonType.Text">AutoComplete 自动完成</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes8></Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes8>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes9></Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes9>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes10></Ant_Design_Blazor_Admin.Client.Pages.DataInput.AutoCompletes_.AutoCompletes10>
</div>
