@page "/AutoCompletes"

@code {
    // AutoCompletes
}
<div>
    <Button Type="@ButtonType.Text">AutoComplete 自动完成</Button>
</div>
<div>
    <ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes1></ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes1>
</div>
<div>
    <ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes2></ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes2>
</div>
<div>
    <ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes3></ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes3>
</div>
<div>
    <ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes4></ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes4>
</div>
<div>
    <ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes5></ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes5>
</div>
<div>
    <ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes6></ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes6>
</div>
<div>
    <ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes7></ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes7>
</div>
<div>
    <ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes8></ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes8>
</div>
<div>
    <ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes9></ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes9>
</div>
<div>
    <ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes10></ant_blazor.Pages.DataInput.AutoCompletes_.AutoCompletes10>
</div>
