@page "/Cascaders"

@code {
    // Cascaders
}
<div>
    <Button Type="@ButtonType.Text">Cascader 级联选择</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Cascaders_.Cascaders7>
</div>