@page "/Cascaders"

@code {
    // Cascaders
}
<div>
    <Button Type="@ButtonType.Text">Cascader 级联选择</Button>
</div>
<div>
    <ant_blazor.Pages.DataInput.Cascaders_.Cascaders1></ant_blazor.Pages.DataInput.Cascaders_.Cascaders1>
</div>
<div>
    <ant_blazor.Pages.DataInput.Cascaders_.Cascaders2></ant_blazor.Pages.DataInput.Cascaders_.Cascaders2>
</div>
<div>
    <ant_blazor.Pages.DataInput.Cascaders_.Cascaders3></ant_blazor.Pages.DataInput.Cascaders_.Cascaders3>
</div>
<div>
    <ant_blazor.Pages.DataInput.Cascaders_.Cascaders4></ant_blazor.Pages.DataInput.Cascaders_.Cascaders4>
</div>
<div>
    <ant_blazor.Pages.DataInput.Cascaders_.Cascaders5></ant_blazor.Pages.DataInput.Cascaders_.Cascaders5>
</div>
<div>
    <ant_blazor.Pages.DataInput.Cascaders_.Cascaders6></ant_blazor.Pages.DataInput.Cascaders_.Cascaders6>
</div>
<div>
    <ant_blazor.Pages.DataInput.Cascaders_.Cascaders7></ant_blazor.Pages.DataInput.Cascaders_.Cascaders7>
</div>