@page "/Checkboxs"

@code {
    // Checkboxs
}
<div>
    <Button Type="@ButtonType.Text">Checkbox 多选框</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Checkboxs_.Checkboxs7>
</div>
