@page "/Checkboxs"

@code {
    // Checkboxs
}
<div>
    <Button Type="@ButtonType.Text">Checkbox 多选框</Button>
</div>
<div>
    <ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs1></ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs1>
</div>
<div>
    <ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs2></ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs2>
</div>
<div>
    <ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs3></ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs3>
</div>
<div>
    <ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs4></ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs4>
</div>
<div>
    <ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs5></ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs5>
</div>
<div>
    <ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs6></ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs6>
</div>
<div>
    <ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs7></ant_blazor.Pages.DataInput.Checkboxs_.Checkboxs7>
</div>
