@page "/DatePickers"

@code {
    // DatePickers
}
<div>
    <Button Type="@ButtonType.Text">DatePicker 日期选择框</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers8></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers8>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers9></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers9>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers10></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers10>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers11></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers11>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers12></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers12>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers13></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers13>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers14></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers14>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers15></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers15>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers16></Ant_Design_Blazor_Admin.Client.Pages.DataInput.DatePickers_.DatePickers16>
</div>