@page "/DatePickers"

@code {
    // DatePickers
}
<div>
    <Button Type="@ButtonType.Text">DatePicker 日期选择框</Button>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers1></ant_blazor.Pages.DataInput.DatePickers_.DatePickers1>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers2></ant_blazor.Pages.DataInput.DatePickers_.DatePickers2>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers3></ant_blazor.Pages.DataInput.DatePickers_.DatePickers3>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers4></ant_blazor.Pages.DataInput.DatePickers_.DatePickers4>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers5></ant_blazor.Pages.DataInput.DatePickers_.DatePickers5>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers6></ant_blazor.Pages.DataInput.DatePickers_.DatePickers6>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers7></ant_blazor.Pages.DataInput.DatePickers_.DatePickers7>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers8></ant_blazor.Pages.DataInput.DatePickers_.DatePickers8>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers9></ant_blazor.Pages.DataInput.DatePickers_.DatePickers9>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers10></ant_blazor.Pages.DataInput.DatePickers_.DatePickers10>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers11></ant_blazor.Pages.DataInput.DatePickers_.DatePickers11>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers12></ant_blazor.Pages.DataInput.DatePickers_.DatePickers12>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers13></ant_blazor.Pages.DataInput.DatePickers_.DatePickers13>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers14></ant_blazor.Pages.DataInput.DatePickers_.DatePickers14>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers15></ant_blazor.Pages.DataInput.DatePickers_.DatePickers15>
</div>
<div>
    <ant_blazor.Pages.DataInput.DatePickers_.DatePickers16></ant_blazor.Pages.DataInput.DatePickers_.DatePickers16>
</div>