@page "/Forms"

@code {
    // Forms
}
<div>
    <Button Type="@ButtonType.Text">Form 表单</Button>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms1></ant_blazor.Pages.DataInput.Forms_.Forms1>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms2></ant_blazor.Pages.DataInput.Forms_.Forms2>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms3></ant_blazor.Pages.DataInput.Forms_.Forms3>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms4></ant_blazor.Pages.DataInput.Forms_.Forms4>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms5></ant_blazor.Pages.DataInput.Forms_.Forms5>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms6></ant_blazor.Pages.DataInput.Forms_.Forms6>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms7></ant_blazor.Pages.DataInput.Forms_.Forms7>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms9></ant_blazor.Pages.DataInput.Forms_.Forms9>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms10></ant_blazor.Pages.DataInput.Forms_.Forms10>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms11></ant_blazor.Pages.DataInput.Forms_.Forms11>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms12></ant_blazor.Pages.DataInput.Forms_.Forms12>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms13></ant_blazor.Pages.DataInput.Forms_.Forms13>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms14></ant_blazor.Pages.DataInput.Forms_.Forms14>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms15></ant_blazor.Pages.DataInput.Forms_.Forms15>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms16></ant_blazor.Pages.DataInput.Forms_.Forms16>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms17></ant_blazor.Pages.DataInput.Forms_.Forms17>
</div>
<div>
    <ant_blazor.Pages.DataInput.Forms_.Forms18></ant_blazor.Pages.DataInput.Forms_.Forms18>
</div>