@page "/Forms"

@code {
    // Forms
}
<div>
    <Button Type="@ButtonType.Text">Form 表单</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms9></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms9>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms10></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms10>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms11></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms11>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms12></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms12>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms13></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms13>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms14></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms14>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms15></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms15>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms16></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms16>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms17></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms17>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms18></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Forms_.Forms18>
</div>