@page "/InputNumbers"

@code {
        // InputNumbers
}
<div>
    <Button Type="@ButtonType.Text">InputNumber 数字输入框</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers8></Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers8>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers9></Ant_Design_Blazor_Admin.Client.Pages.DataInput.InputNumbers_.InputNumbers9>
</div>