@page "/Inputs"

@code {
    // Inputs
}
<div>
    <Button Type="@ButtonType.Text">Input 输入框</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs8></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs8>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs9></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs9>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs10></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs10>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs11></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs11>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs12></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs12>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs13></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs13>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs14></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs14>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs15></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs15>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs16></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs16>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs17></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs17>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs18></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Inputs_.Inputs18>
</div>