@page "/Inputs"

@code {
    // Inputs
}
<div>
    <Button Type="@ButtonType.Text">Input 输入框</Button>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs1></ant_blazor.Pages.DataInput.Inputs_.Inputs1>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs2></ant_blazor.Pages.DataInput.Inputs_.Inputs2>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs3></ant_blazor.Pages.DataInput.Inputs_.Inputs3>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs4></ant_blazor.Pages.DataInput.Inputs_.Inputs4>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs5></ant_blazor.Pages.DataInput.Inputs_.Inputs5>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs6></ant_blazor.Pages.DataInput.Inputs_.Inputs6>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs7></ant_blazor.Pages.DataInput.Inputs_.Inputs7>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs8></ant_blazor.Pages.DataInput.Inputs_.Inputs8>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs9></ant_blazor.Pages.DataInput.Inputs_.Inputs9>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs10></ant_blazor.Pages.DataInput.Inputs_.Inputs10>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs11></ant_blazor.Pages.DataInput.Inputs_.Inputs11>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs12></ant_blazor.Pages.DataInput.Inputs_.Inputs12>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs13></ant_blazor.Pages.DataInput.Inputs_.Inputs13>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs14></ant_blazor.Pages.DataInput.Inputs_.Inputs14>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs15></ant_blazor.Pages.DataInput.Inputs_.Inputs15>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs16></ant_blazor.Pages.DataInput.Inputs_.Inputs16>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs17></ant_blazor.Pages.DataInput.Inputs_.Inputs17>
</div>
<div>
    <ant_blazor.Pages.DataInput.Inputs_.Inputs18></ant_blazor.Pages.DataInput.Inputs_.Inputs18>
</div>