@page "/Mentionss"

@code {
    // Mentionss
}
<div>
    <Button Type="@ButtonType.Text">Mentions 提及</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Mentionss_.Mentions7>
</div>