@page "/Radios"

@code {
    // Radios
}
<div>
    <Button Type="@ButtonType.Text">Radio 单选框</Button>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio1>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio2>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio3>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio4>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio5>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio6>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio7>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio8></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio8>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio9></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio9>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio10></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio10>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio11></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Radios_.Radio11>
</div>