@page "/Rates"

@code {
    // Rates
}
<div>
    <Button Type="@ButtonType.Text">Rate 评分</Button>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate1>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate2>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate3>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate4>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate5>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Rates_.Rate6>
</div>