@page "/Selects"

@code {
    // Selects
}
<div>
    <Button Type="@ButtonType.Text">Select 选择器</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select8></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select8>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select9></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select9>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select10></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select10>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select11></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select11>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select12></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select12>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select13></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select13>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select14></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select14>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select15></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select15>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select16></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select16>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select17></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select17>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select18></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select18>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select19></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select19>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select20></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select20>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select21></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select21>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select22></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select22>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select23></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select23>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select24></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select24>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select25></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select25>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select26></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Selects_.Select26>
</div>