@page "/Sliders"

@code {
    // Sliders
}
<div>
    <Button Type="@ButtonType.Text">Slider 滑动输入条</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider8></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider8>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider9></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider9>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider10></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Sliders_.Slider10>
</div>