@page "/Switches"

@code {
    // Switches
}
<div>
    <Button Type="@ButtonType.Text">Switch 开关</Button>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch1>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch2>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch3>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch4>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch5>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Switches_.Switch6>
</div>