@page "/TimePickers"

@code {
    // TimePickers
}
<div>
    <Button Type="@ButtonType.Text">TimePicker 时间选择框</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker8></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker8>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker9></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TimePickers_.TimePicker9>
</div>