@page "/Transfers"

@code {
    // Transfers
}
<div>
    <Button Type="@ButtonType.Text">Transfer 穿梭框</Button>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer1>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer2>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer3>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer4>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer5>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Transfers_.Transfer6>
</div>