@page "/TreeSelects"

@code {
    // TreeSelects
}
<div>
    <Button Type="@ButtonType.Text">TreeSelect 树选择</Button>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TreeSelects_.TreeSelect1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TreeSelects_.TreeSelect1>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TreeSelects_.TreeSelect2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TreeSelects_.TreeSelect2>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TreeSelects_.TreeSelect3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TreeSelects_.TreeSelect3>
</div>
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.TreeSelects_.TreeSelect4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.TreeSelects_.TreeSelect4>
</div>