@page "/Uploads"

@code {
    // Uploads
}
<div>
    <Button Type="@ButtonType.Text">Upload 上传</Button>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload1></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload1>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload2></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload2>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload3></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload3>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload4></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload4>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload5></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload5>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload6></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload6>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload7></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload7>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload8></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload8>
</div>
<Divider />
<div>
    <Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload9></Ant_Design_Blazor_Admin.Client.Pages.DataInput.Uploads_.Upload9>
</div>