@page "/Descriptionss"

@code {
        // Descriptionss
}
<div>
    <Button Type="@ButtonType.Text">Descriptions 描述列表</Button>
</div>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions1></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions1>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions2></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions2>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions3></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions3>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions4></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions4>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions5></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions5>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions6></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions6>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions7></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Descriptionss_.Descriptions7>