@page "/Images"

@code {
    // Images
}
<div>
    <Button Type="@ButtonType.Text">Image 图片</Button>
</div>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image1></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image1>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image2></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image2>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image3></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image3>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image4></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image4>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image5></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image5>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image6></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image6>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image7></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Images_.Image7>