@page "/Lists"

@code {
    // Lists
}
<div>
    <Button Type="@ButtonType.Text">List 列表</Button>
</div>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List1></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List1>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List2></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List2>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List3></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List3>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List4></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List4>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List5></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List5>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List6></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List6>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List7></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List7>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List8></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List8>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List9></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Lists_.List9>