@page "/Popovers"

@code {
    // Popovers
}
<div>
    <Button Type="@ButtonType.Text">Popover 气泡卡片</Button>
</div>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover1></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover1>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover2></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover2>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover3></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover3>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover4></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover4>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover5></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover5>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover6></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Popovers_.Popover6>