@page "/Tabss"

@code {
    // Tabss
}
<div>
    <Button Type="@ButtonType.Text">Tabs 标签页</Button>
</div>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs1></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs1>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs2></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs2>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs3></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs3>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs4></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs4>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs5></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs5>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs6></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs6>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs7></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs7>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs8></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs8>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs9></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs9>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs10></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs10>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs11></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs11>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs12></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs12>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs13></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs13>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs14></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs14>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs15></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tabss_.Tabs15>