@page "/Tooltips"

@code {
    // Tooltips
}
<div>
    <Button Type="@ButtonType.Text">Tooltip 文字提示</Button>
</div>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tooltips_.Tooltip1></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tooltips_.Tooltip1>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tooltips_.Tooltip2></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tooltips_.Tooltip2>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tooltips_.Tooltip3></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tooltips_.Tooltip3>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tooltips_.Tooltip4></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Tooltips_.Tooltip4>