@page "/Trees"

@code {
    // Trees
}
<div>
    <Button Type="@ButtonType.Text">Tree 树形控件</Button>
</div>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree1></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree1>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree2></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree2>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree3></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree3>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree4></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree4>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree5></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree5>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree6></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree6>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree7></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree7>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree8></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree8>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree9></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree9>
<Divider />
<Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree10></Ant_Design_Blazor_Admin.Client.Pages.ShowData.Trees_.Tree10>